@mixin border-1px($color){
	position: relative;
	&:after{
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		border-top: 1px solid $color;
		content: '';
	}
}

.clearfix{
	display: inline-block;
	:after{
		content:'';
		display: block;
		height: 0;
		line-height: 0;
		clear: both;
		visibility: hidden;
	}
}

//宽高
@mixin wh($width, $height){
	width: $width;
	height: $height;
}

